<section class="pageContener">
	<nav class="widgetSelectors">
		<a class="widgetSelectors__item" href="#status">Status</a>
		<a class="widgetSelectors__item" href="#console">Console</a>
		<a class="widgetSelectors__item" href="#configuration">Configuration</a>
		<a class="widgetSelectors__item" href="#joueurs">Joueurs</a>
	</nav>
	<section class="pageSection basePage visible center" id="status">
		<div class="statusDisplay">
			<h2><%=serverIp%></h2>
			<h3 class="status">Offline</h3>
			<nav class="serverActions">
				<button class="serverActions__button restart">
					<img src="images/restart.png">
				</button>
				<button class="serverActions__button start">
					<img src="images/powerButton.png">
				</button>
			</nav>
		</div>
		&nbsp;
	</section>
	<section class="pageSection" id="console">
		<div class="consoleView offline">
			<h1 class="consoleView__offline">Server is offline</h1>
			<div class="consoleView__text consoleOutput" lines="all">
				&nbsp;
				<%
					var logs = log.split("\n")
					for (var l = 0; l < logs.length; l++) {
				%>
					<p class="consoleOutput__log"><%=logs[l]%></p>
				<% } %>
			</div>
			<form class="consoleView__input">
				<input type="text" name="commande" id="commande" class="consoleView__input__text">
			</form>
		</div>
	</section>
	<section class="pageSection" id="configuration">
		
	</section>
	<section class="pageSection center" id="joueurs">
		<div class="playerList" name="banned-players">
			<h2 class="playerList__title">Banned players</h2>
			<p class="playerList__error">Erreur réseau</p>
			<ul class="playerList__list">
			</ul>
			<button class="playerList__addButton round">+</button>
		</div>
		<div class="playerList" name="whitelist">
			<h2 class="playerList__title">Whitelist</h2>
			<p class="playerList__error">Erreur réseau</p>
			<ul class="playerList__list">

			</ul>
			<button class="playerList__addButton round">+</button>
		</div>
		<div class="playerList" name="ops">
			<h2 class="playerList__title">Ops</h2>
			<p class="playerList__error">Erreur réseau</p>
			<ul class="playerList__list">

			</ul>
			<button class="playerList__addButton round">+</button>
		</div>
	</section>
</section>