<section class="pageContener">
	<nav class="widgetSelectors">
		<a class="widgetSelectors__item" href="#status">Status</a>
		<a class="widgetSelectors__item" href="#console">Console</a>
		<a class="widgetSelectors__item" href="#configuration">Configuration</a>
		<a class="widgetSelectors__item" href="#joueurs">Joueurs</a>
	</nav>
	<section class="pageSection basePage visible" id="status">
		
	</section>
	<section class="pageSection visible" id="console">
		<div class="consoleView">
			<div class="consoleView__text">
				
			</div>
			<form class="consoleView__input">
				<input type="text" name="commande" id="commande">
				<button>Envoyer</button>
			</form>
		</div>
	</section>
	<section class="pageSection visible" id="configuration">
		
	</section>
	<section class="pageSection visible" id="joueurs">
		
	</section>
</section>