@use "../layouts/header";
@use "../layouts/footer";
@use "../layouts/pageSection";
@use "../layouts/form";
@use "../layouts/inputGroup";
@use "../components/buttons";
@use "../layouts/widgetSelectors";
@use "../utils/colors" as color;

@font-face {
	font-family:"Minecraft Regular";
	src:url("/fonts/1_Minecraft-Regular.eot?") format("eot"),
		url("/fonts/1_Minecraft-Regular.woff") format("woff"),
		url("/fonts/1_Minecraft-Regular.ttf") format("truetype"),
		url("/fonts/1_Minecraft-Regular.svg#Minecraft-Regular") format("svg");
	font-weight:normal;
	font-style:normal;
}

body {
	border: none;
	margin:0;
	padding:0;
	font-family:Minecraft Regular;
	background: color.$mainBackground;
	display:flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.pageContener{
	display:flex;
}