@use "../layouts/header";
@use "../layouts/footer";
@use "../layouts/pageSection";
@use "../layouts/form";
@use "../layouts/inputGroup";
@use "../layouts/widgetSelectors";
@use "../layouts/consoleView";
@use "../layouts/playerList";
@use "../layouts/serverActions";

@use "../components/buttons";
@use "../components/inputs";
@use "../components/link";

@use "../utils/colors" as color;

@font-face {
	font-family:"Minecraft Regular";
	src:url("/fonts/1_Minecraft-Regular.eot?") format("eot"),
		url("/fonts/1_Minecraft-Regular.woff") format("woff"),
		url("/fonts/1_Minecraft-Regular.ttf") format("truetype"),
		url("/fonts/1_Minecraft-Regular.svg#Minecraft-Regular") format("svg");
	font-weight:normal;
	font-style:normal;
}

* {
	font-family:Minecraft Regular;
}

body {
	border: none;
	margin:0;
	padding:0;
	background: color.$mainBackground;
	min-height: 100vh;
	position: relative;
	display:flex;
	flex-direction: column;
}

.pageContener{
	display:flex;
	flex-grow: 1;
	height:100%;
}

.statusDisplay {
	background:color.$formBackground;
	padding:20px;
	border-radius:10px;
	color:white;
}