$mainBackground:#C7D8D7FF;
$headerFooterBackground:#1E1F1BFF;
$headerColor:white;

$formBackground:#292a2b;
$formColors:#afafaf;

$widgetSelectorBackground:#292a2b;
$widgetSelectorColor:white;

$consoleBackground:#282923FF;
$consoleBaseColor:white;

$paramsBackground:#282923FF;
$paramsBaseColor:white;

$inputBackground:#222;
$inputBorder:#1a1a1aff;

$linkColor:white;
$linkHover:gray;

$addBackground:lime;
$addColor:white;

$serverAction:(
	"start":lime,
	"stop":red,
	"restart":orange
);
